# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Games Engines 2 CA.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\verda\Desktop\DT228_Year4\Semester_2\GamesEngine2\Games Engines 2 CA\Games Engines 2 CA\.idea\.idea.Games Engines 2 CA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
